.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
    margin-top: 8px;
}
.todoitems-container{
    display: flex;
}
.todoitems-text{
    padding-left: 16px;
    color: rgb(12, 156, 156);
    font-size: 20px;
}
.not-tick{
    width: 25px;
    height: 25px;
}
.tick{
    width: 25px;
    height: 25px;
}
.todoitems-cross-icon{
    width: 12px;
    cursor: pointer;
    padding-right: 20px;
}
.line-through{
    text-decoration: line-through solid #ADADAD 3px;
}